@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}
:root {
  --font-calsans: "CalSans";
}
@font-face {
  font-family: "CalSans";
  src: local("CalSans"),
    url(../public/fonts/CalSans-SemiBold.ttf) format("woff");
}

body {
  color: white;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
